body {
  background-color: bisque;
  display: grid;
}
#sidebar {
  /* display: grid; */
  background-color: transparent;
  width: 150px;
  gap: 20px;
  text-align: center;
  /* height: 1000px; */
  padding: 20px;
}
#sidebar div {
  margin: 10px;
  background-color: teal;
  padding: 4px;
  cursor: pointer;
  font-size: large;
  color: rgb(215, 212, 212);
}
#grid {
  display: flex;
}
#results {
  background-color: white;
}
#results img {
  width: 100px;
}
.news {
  display: flex;
  border: 1px solid gray;
  margin: 0px 0px 10px 5px;
  padding: 5px;
  gap: 15px;
  cursor: pointer;
}
